<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="layout :: head">
<body>
    <div th:include="layout :: navigationPanel"></div>
    <div class="content">
    <h1>KURSOWNIA</h1>
        <img src="../static/images/main.jpg" th:src="@{images/main.jpg}" id="main_picture">
        <div id="main_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam quis felis dui. Phasellus nisl quam, mattis tincidunt interdum nec, euismod eu urna. Vivamus cursus tellus quis eros pharetra, non pretium augue venenatis. Donec accumsan, est at maximus feugiat, felis purus pharetra nisl, quis aliquam ligula ante et tellus. Cras tristique justo sit amet mi egestas, sit amet cursus nunc rutrum. Integer id posuere felis. Vivamus tincidunt vel velit sit amet venenatis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam auctor consequat diam, vitae aliquet eros. In nec urna felis. Maecenas non erat in turpis tempor ultrices sit amet quis dui. Nunc semper placerat nisi, vel pharetra nisl imperdiet at. Mauris eleifend viverra dui sed bibendum. Praesent sagittis pulvinar dui non rutrum.
            <br /><br />
            Cras fringilla ligula sed lacus pharetra scelerisque. Vivamus euismod felis in efficitur congue. Suspendisse nulla arcu, vulputate a nisi eu, condimentum imperdiet tellus. Maecenas lacinia lobortis arcu sit amet semper. Morbi laoreet tempor quam. Cras nisl lacus, rhoncus laoreet lorem quis, cursus malesuada ante. Praesent enim augue, dignissim sed est at, tristique consectetur massa. Phasellus iaculis lacus eget blandit efficitur. Nunc sollicitudin, orci non volutpat iaculis, sapien nulla vestibulum dolor, non mollis diam eros in dui. Proin vehicula risus metus, ut efficitur justo dictum ac. Pellentesque elit nunc, feugiat sed ipsum ut, varius vestibulum urna.
        </div>

    </div>
    <div th:include="layout :: footer"></div>
</body>
</html>