<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Kursownia - aplikacja zaliczeniowa</title>
        <base href="/">
        <link th:href="@{css/style.css}" href="../static/css/style.css"
              rel="stylesheet" type="text/css" media="screen"/>
    </head>

    <body>

        <div th:fragment="navigationPanel">
            <ul id="nav">
                <li><a th:href="@{/}">STRONA GŁÓWNA</a></li>
                <li><a th:href="@{/courses}">KATALOG KURSÓW</a></li>

                <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">ZALOGUJ SIĘ</a></li>
                <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">ZAREJESTRUJ SIĘ</a></li>


                <li sec:authorize="isAuthenticated()"><a th:href="@{/profile}">MÓJ PROFIL</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">WYLOGUJ SIĘ</a></li>
            </ul>
        </div>

        <div th:fragment="footer">
            <footer class="footer">
                    <p>© KATARZYNA SURTEL 2018</p>
            </footer>
        </div>
    </body>
</html>
